body{
    background-image: url(/new-Project/images/winter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
#loading{margin-left: 45%; 
         color: #201c1c;
         display: none;
         background: #fff;
         height: 250px;
         width: 500px;
         margin-left: 32%;
         text-align: center;
         margin-top: 20px;
         padding: 15px;
         line-height: 4em;
         opacity: 0.7;
         box-shadow: 0px 0px 10px black;
         border-radius: 5px;
    }
    #load {
        display: none;
        margin-left: 45%;
        color: white;

    }
    #time {
        text-align: center;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 2em;
        padding: 15px;
        width: 23%;
        margin-left: 38%;
        color: #fff;
        font-weight: bold;
        border: none;
    }
.my-form{
    background: #333;
    padding: 20px;
    opacity: 0.8;
    border: 2px solid #333;
    border-radius: 4px;
    height: 10%;
    width: 47%;
    margin-top: 7%;
    line-height: 12em;
    color: white;
    margin-left: 25%;
    
}
.logo{
    background-color: rgba(51, 51, 51, 0.6);
    padding: 6px;
    border-radius: 4px;
    width: 30%;
    margin-left: 34%;
    
}
#text {
    font-size: 20px;
    width: 68%;
    height: 35px;
    text-align: center;
    margin-left: 5%;
}
#description{
    color: red;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#error {
    background-color: white;
    color: red;
    text-align: center;
    margin-left: 35%;
    padding: 15px;
    line-height: 5em;
    width: 30%;
    margin-top: 2%;
    border-radius: 4px;
    display: none;
    opacity: 0.5;
}
.btn{
    background: royalblue;
   padding-top: 4px;
    height: 45px;
    width: 20%;
    border: none;
    color: white;
    transition: background ease-in-out 0.3s;
}
.btn:hover {
    background: #0dd873;
    color: #fff;
}
.changeBorder {
    border: 3px solid;
    border-color: limegreen;
    background-color: #f2f8bb;
}
nav > ul {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 40%;
    font-size: 20px;
    list-style: none;
    opacity: 0.8;
    display: inline-block;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
li:hover > ul.drop-menu li{
    display: block;
}
ul.drop-menu {
    top: 100%;
    left: 0%;
    width: 100%;
    padding: 0;
}
ul.drop-menu li{
    background: #666;
    color: white;
}
nav > ul > li {
    float: left;
    width: 150px;
    position: relative;
}
nav > ul > li:hover{
    background: #d5d5d5;
    border-radius: 3px;
    padding: 5px;
    width: 100px;
}
ul.drop-menu li{
    list-style: none;
    color: #fff;
    color: white;
    display: none;
}
ul.drop-menu li:hover{
    background: #333;
    border-radius: 0px 0px 5px 5px;
}
li:hover > ul.drop-menu li{
    display: block;
    padding: 7px;
    border-bottom: 2px solid black;
    animation: menu 0.3s ease;
    animation-fill-mode: forwards;
}
#popOver{
    display: none;
    width: 300px;
    height: 100px;
    text-align: center;
    color: #333;
    background: rgba(46, 214, 144,0.5);
    margin-left: 40%;
    line-height: 2em;   
     transition: transform 0.3s ease-in-out ;
}
#popOver:hover{
    transform: scale(1.1);
    box-shadow: 0 25px 20px -20px black;
}
.twitter {
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    text-shadow: 0 0 2px gray;
    text-align: center;
    transition: color ease-in 0.2s;
}
 .twitter:hover{
    color: white;
}
.btn2 {
    width: 27px;
    height: 25px;
    float: right;
    margin: 2px;
    cursor: pointer;
    background:rgba(46, 214, 144,0.3);
    color: white;
    padding: 3px;
    border: none;
    transition: background ease-in-out 0.3s;
}
.logo1{
    color: white;
     text-align: center;
     padding: 5px; 
     font-size: 30px;
}
.btn2:hover{
    background-color: grey;
}
@media(max-width: 560px){
    .my-form{height: 100px;
             width: 200px;
             margin-left: 60px;
             line-height: 6em;
    } 
    #text {
        width: 20vh;
    }
    #loading{margin-left: 125px;
                margin-top: 60px;
    }
    .logo{
        margin-left: 15px;
    }
    .button{
        margin-top: 30px;
        margin-left: 50px;
    }
    nav > ul {
        margin-left: 30px;
    }
}
@media(max-width: 768px){
    .my-form{height: 100px;
        width: 500px;
        margin-left: 100px;
        line-height: 6em;
} 
#text {
   width: 20vh;
}
#loading{margin-left: 300px;
           margin-top: 60px;
}
.logo{
   margin-left: 15px;
}
.button{
   margin-top: 30px;
   margin-left: 50px;
}
nav > ul {
   margin-left: 230px;
}
}
@media(max-width: 1024){
    .my-form{height: 100px;
        width: 200px;
        margin-left: 80px;
        line-height: 6em;
} 
#text {
   width: 20vh;
}
#loading{margin-left: 125px;
           margin-top: 60px;
}
.logo{
   margin-left: 15px;
}
.button{
   margin-top: 30px;
   margin-left: 50px;
}
nav > ul {
   margin-left: 30px;
}
}
.spinner{
    width: 100px;
    height: 100px;
    border: 5px solid #aaa;
    border-radius: 50%;
    position: relative;
    margin: 80px;
    display: inline-block;
    animation: spin 1.4s linear infinite;
}
.spinner::before{
    content: "";
    height: 30px;
    width: 30px;
    background: green;
    border-radius: 50%;
    position: absolute;
    top: 35px;
    left: 35px;
}
.spinner::after{
    content: "";
    height: 20px;
    width: 20px;
    background: #2ed690;
    border-radius: 50%;
    position: absolute;
    top: 5px;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.navigation{
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 10px;
}
.about, .version{
    color: white;
    text-decoration: none;
    font-size: 27px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 10px;
}
.aboutMain{
    color: #fff;
    font-family: tahoma, Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 15vh;
}
img {
    box-shadow: 0 25px 20px -20px black;
    display: block;
}
.akin1{
    width: 50%;
    height: 350px;
    background: #ffffffab;
    padding: 7px;
    margin-left: 3%;
    display: inline-flex;
}
.akin1 > p {
    line-height: 2em;
    text-align: center;
    color: black;
    padding-top: 50px;
}
.version{
    text-align: center;
    color: #fff;
}
.back1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: 27px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 10px;
}