
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background:#51aae6;
    height: 70vh;
    width: 100%;
    transition: all ease-in-out 0.4s;
}
.my-form form{
    width: 73%;
    height: 10vh;
    background: #fff;
    margin: 70px auto;
    border-radius: 45px;
    display: flex;
    position: relative;
}
#loading {
    color: #201c1c;
    background: #d3d4da;
    display: none;
    height: 180px;
    width: 400px;
    text-align: center;
    padding: 7px;
    margin: auto;
    line-height: 4em;
    opacity: 0.7;
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
}

#load {
    height: 30px;
    width: 30px;
    display: none;
    margin: 15vh auto;
    border: 5px solid rgba(60, 60, 180, 0.45);
    border-top: 5px solid rgb(60, 60, 180);
    border-radius: 50%;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#time {
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    margin: 15px auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    border: none;
}
.validate {
    width: 30%;
    margin: 15px auto;
    height: 40px;
     background: #77767667;
     border-radius: 3px;
     transition: all ease-in-out 0.5s;
     opacity: 0;
}
.validate > h4 {
    text-align: center;
    padding: 7px;
    color: #fff;
    font-family: sans-serif;
}
.my-form {
    background: #7266665b;
    padding: 10px;
    height: 260px;
    width: 60%;
    margin: 15px auto;
    color: white;
    box-shadow: 25px 25px  20px  #333333;
}

.logo {
    text-align: center;
    padding: 7px;
    display: block;
    justify-content: center;
    width: 30%;
    height: auto;
    margin: 10px auto;

}

#text {
    font-size: 20px;
    width: 85%;
    height: 100%;
    text-shadow: 1px 1px 1px #333;
    text-align: center;
    margin:auto;
    outline: none;
    border: none;
    background: none;
}

#description {
    color: red;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#error {
    background-color: white;
    color: red;
    text-align: center;
    padding: 15px;
    line-height: 1.4em;
    width: 350px;
    height: 25vh;
    margin: 13px auto;
    border-radius: 4px;
    display: none;
    opacity: 0.5;
}

#error>img {
    padding: 0 auto;

}

.btn {
    cursor: pointer;
    background: royalblue;
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    color: white;
    outline: none;
    transition: all ease-in-out 0.3s;
    margin: auto;
    margin-right: 1%;
    padding: 10px;
}

.btn:hover {
    background: #0dd873;
    box-shadow: 7px 7px 7px #333;
    color: #fff;
}

.btn:active {
    transform: scale(1.2);
}


#popOver {
    width: 30px;
    height: 40px;
    color: #333;
    margin: 30px auto;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    position: fixed;
}


.logo1 {
    color: white;
    text-align: center;
    font-size: 30px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.navigation {
    display: grid;
    border-radius: 4px;
    grid-template-columns: repeat(4, 3fr);
    justify-content: center;
    color: #fff;
    width: 350px;
    height: 65px;
    margin: 30px auto;
}
.navigation > a {
    background: #2c2c2b;
    padding: 15px ;
    border-radius: 4px;
    height: 53px;
    width: auto;
}

.about,
.version,
.signIn
 {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: color 0.3s ease-in-out;
    box-shadow: 5px 5px 5px  #333;
    margin: 5px auto;
    margin-left: 15px;
}

.about:hover,
.version:hover,
.signIn:hover {
    color: #817e7e;
}

.aboutMain {
    color: #fff;
    font-family: tahoma, Arial, Helvetica, sans-serif;
    text-align: center;
    margin:25px auto;
    display: grid;
    width: 50%;
    height: 60vh;
}
.aboutMain > h3 {
    line-height: 2em;
    padding: 15px;
}


.aboutMain img {
    box-shadow: 0 25px 20px -20px black;
}

.akin1 {
    width: 50%;
    height: 40vh;
    padding: 7px;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    box-shadow: 0 25px 20px -20px black;
}

.akin1>p {
    text-align: center;
    color: #fff;
    padding: 15px;
    padding-top: 10%;
    height: 100%;
    width: 50%;
}

.version {
    text-align: center;
    color: #fff;
}
.aboutMainP{
    width: 50%;
    height: 50vh;
    margin: auto;

}
.back1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: 27px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 10px;
}
/* THE NEWS SECTION OF THE MAIN PAGE */
.news{
    position: relative;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0.5em;
    margin-left: 30px;
    margin-top: 25px;
    /*display: none;*/
  }
  .newsDisplay{
        height: 30vh;
        width: 20vw;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(51, 51, 51, 0.363);
        transition: all ease-in-out 0.4s;
        font-family: sans-serif;
        color: #fff;
  }
  .mainContainer{
      width: 1200px;
      height: 100vh;
      border-radius: 7px;
      background: #cfcdcd;
      margin: auto;
      justify-content: center;
      transition: all ease-in-out 0.4s;
      align-items: center;
  }
  .mainNav {
      width: 800px;
      background: #fff;
      height: 50px;
      margin: 20px auto;
      padding: 5px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      box-sizing: border-box;
  }
  .mainNav button {
    color: white;
    background: #333;
    height: 30px;
    width: 60px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    border: none;
    outline: none;
    margin: 5px;
  }
  .container2 {
    width: 80%;
    height: 30vh;
    margin: 15px auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .innerContainer{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1.5em;
      margin:10px auto;
      width: 1000px;

  }
  .innercontainer1 > h2,
  .innercontainer1 > p {
      padding: 10px;
  }
  .innercontainer1,
  .innercontainer2,
  .innercontainer3{
      height: 300px;
      margin-top: 35px;
      width: 300px;
      background: #fff;
      box-shadow: 5px 5px 5px #969595;
      border-radius: 5px;

  }
  .inner1,
  .inner2,
  .inner3 {
      background: #777575;
      height: 100%;
      padding: 20px;
      width: 92%;
      margin: auto;
  }
  footer {
    text-align: center;
     line-height: 9.5em;
     color: white;
     font-size: 12px;
     font-family: sans-serif;
  }
  .newsNav{
      display: flex;
      justify-content: center;
      text-align: center;
      background: #333;
      width: 55px;
      height: 7vh;
      margin: 20px auto;
      border-radius: 6px;
  }
  .newsNav > .newsAbout {
      text-decoration: none;
      color: #fff;
    /* transform: translate(100%); */
    margin: 15px auto;
    font-family: sans-serif;
    padding: 5px;
    transition: all ease-in-out 0.3s;
  }
  .newsAbout:hover{
      opacity: 0.6;
  }