
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background:#51aae6;
    height: auto;
    width: 100%;
}
form{
    width: 70%;
    height: 38%;
    background: #fff;
    margin: 70px auto;
    border-radius: 45px;
    display: flex;
    position: relative;
}
#loading {
    color: #201c1c;
    background: #d3d4da;
    display: none;
    height: 250px;
    width: 500px;
    text-align: center;
    padding: 15px;
    margin: auto;
    line-height: 4em;
    opacity: 0.7;
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
}

#load {
    height: 30px;
    width: 30px;
    display: none;
    margin: 15vh auto;
    border: 5px solid rgba(60, 60, 180, 0.45);
    border-top: 5px solid rgb(60, 60, 180);
    border-radius: 50%;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#time {
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    margin: 15px auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    border: none;
}

.my-form {
    background: #333;
    padding: 10px;
    opacity: 0.8;
    border: none;
    height: 30vh;
    width: 60%;
    margin: 5% auto;
    color: white;
}

.logo {
    background-color: #33333399;
    border-radius: 4px;
    text-align: center;
    padding: 7px;
    display: block;
    justify-content: center;
    width: 30%;
    height: auto;
    margin: 10px auto;

}

#text {
    font-size: 20px;
    width: 85%;
    height: 100%;
    text-shadow: 1px 1px 1px #333;
    text-align: center;
    margin:auto;
    outline: none;
    border: none;
    background: none;
}

#description {
    color: red;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#error {
    background-color: white;
    color: red;
    text-align: center;
    padding: 15px;
    line-height: 5em;
    width: 30%;
    margin: 13px auto;
    border-radius: 4px;
    display: none;
    opacity: 0.5;
}

#error>img {
    padding: 0 auto;

}

.btn {
    background: royalblue;
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    box-shadow: 7px 7px 7px #333;
    color: white;
    outline: none;
    transition: all ease-in-out 0.3s;
    margin:  auto;
    padding: 10px;
}

.btn:hover {
    background: #0dd873;
    color: #fff;
}

.btn:active {
    transform: scale(1.1);
}

.changeBorder {
    border: 3px solid;
    border-color: limegreen;
    background-color: #f2f8bb;
}

#popOver {
    display: none;
    width: 300px;
    height: 100px;
    text-align: center;
    color: #333;
    background: #2ed69080;
    margin: 30px auto;
    line-height: 2em;
    transition: all 0.3s ease-in-out;
}

#popOver:hover {
    transform: scale(1.1);
    box-shadow: 0 25px 20px -20px black;
}

.twitter {
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    text-shadow: 0 0 2px gray;
    text-align: center;
    transition: color ease-in 0.2s;
    line-height: 5em;
}

.twitter:hover {
    color: white;
}

.btn2 {
    width: 27px;
    height: 25px;
    float: right;
    margin: 2px;
    cursor: pointer;
    background: rgba(255, 0, 0, 0.658);
    color: white;
    padding: 3px;
    border: none;
    transition: background ease-in-out 0.3s;
}

.logo1 {
    color: white;
    text-align: center;
    font-size: 30px;
}

.btn2:hover {
    background-color: grey;
}

/* @media(max-width: 375px) {
    .my-form {
        margin: auto;
        width: 100vw;
    }
}

 @media(max-width: 560px) {
    .my-form {
        width: 10vw;
        margin: auto;
        line-height: 6em;
    }

    #text {
        width: 20vh;
    }

    #loading {
        margin-left: 125px;
        margin: 20px auto;
    }

    .logo {
        margin-left: 3%;
    }

    .button {
        margin-top: 30px;
        margin-left: 50px;
    }

    nav>ul {
        margin-left: 30px;
    }
} 

@media(max-width: 560px) {
    .logo {
        width: 50vw;
        margin-right: 15%;

    }

    .aboutMain {
        width: 120vw;
        height: 100vh;
    }

    .aboutMain img {
        width: 35vw;
        height: 50vh;
    }

    .aboutMainP {
        width: 65vw;
        text-align: center;
    }

    .akin1 {
        width: 60vw;
    }
}

@media(max-width: 768px) {
    .my-form {
        height: 100px;
        width: 500px;
        margin-left: 0px;
        line-height: 6em;
    }

    #text {
        width: 60vw;
    }

    #time {
        line-height: 1em;
    }

    #loading {
        margin-left: 300px;
        margin-top: 60px;
        border-radius: 4px;
    }

    .logo {
        margin-left: 176px;
    }

    .navigation {
        margin: auto;
        width: 40vw;
    }

    .button {
        margin-top: 30px;
        margin-left: 50px;
    }

    nav>ul {
        margin-left: 230px;
    }

    #error {
        line-height: 1em;
    }
}

@media(max-width: 1024) {
    .my-form {
        height: 100px;
        width: 200px;
        margin-left: 80px;
        line-height: 6em;
    }

    #text {
        width: 20vh;
    }

    .logo {
        margin-left: 15px;
    }

    .button {
        margin-top: 30px;
        margin-left: 50px;
    }

    nav>ul {
        margin-left: 30px;
    }
} */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.navigation {
    display: flex;
    justify-content: center;
    color: #fff;
    width: 50%;
    margin: 30px auto;
}

.about,
.version,
.signIn {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s ease-in-out;
}

.about:hover,
.version:hover,
.signIn:hover {
    color: #817e7e;
}

.aboutMain {
    color: #fff;
    font-family: tahoma, Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 15vh;
}

.aboutMain img {
    box-shadow: 0 25px 20px -20px black;
    display: block;
}

.akin1 {
    width: 50%;
    height: 250px;
    padding: 7px;
    margin-left: 3%;
    display: inline-flex;
    box-shadow: 0 25px 20px -20px black;
}

.akin1>p {
    line-height: 2em;
    text-align: center;
    color: black;
    padding-top: 50px;
}

.version {
    text-align: center;
    color: #fff;
}

.back1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: 27px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 10px;
}
/* THE NEWS SECTION OF THE MAIN PAGE */
.news{
    position: relative;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0.5em;
    margin-left: 30px;
    margin-top: 25px;
    /*display: none;*/
  }
  .newsDisplay{
        height: 30vh;
        width: 20vw;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(51, 51, 51, 0.363);
        transition: all ease-in-out 0.4s;
        font-family: sans-serif;
        color: #fff;
  }
  .container{
      width: 80%;
      height: 90vh;
      border-radius: 7px;
      background: #fff;
      margin: 30px auto;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .container2 {
    width: 80%;
    height: 30vh;
    margin: 15px auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .innerContainer{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2em;
  }
  .inner1,
  .inner2,
  .inner3 {
      background: #777575;
      height: 100%;
      padding: 20px;
      width: 92%;
      margin: auto;
  }
  footer {
    text-align: center;
     line-height: 9.5em;
     color: white;
  }